<template name="reportUpload">
    <div id="reportUploadModal" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <span class="add-user-title">添加报告</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span
                            aria-hidden="false">&times;</span>
                    </button>
                </div>


                <div class="modal-body ">
                    <div id="dropzoneDiv" class="dropzone dz-clickable">
                        <div class="dz-default dz-message-one">
                            <span class="font-size-50 font-color-dark-gray">单击上传文件</span>
                        </div>
                    </div>

                    <form class="m-t" role="form" action="#">
                        <div class="form-group">
                            <label for="title_report">报告标题</label>
                            <input type="text" class="form-control" id="title_report" placeholder="标题" required="">
                        </div>
                        <div class="form-group">
                            <label for="abstract_report">报告摘要</label>
                            <textarea class="form-control" id="abstract_report" placeholder="摘要" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="date_report">报告时间</label>
                            <input type="text" class="form-control" id="date_report" placeholder="时间" required="">
                        </div>
                        <div class="" id="upload_msg"> </div>
                    </form>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="add-user-btn btn btn-primary center-block">提交</button>
                </div>
            </div>
        </div>
    </div>
</template>