<template name="reportItem">
    <div class="vertical-timeline-block">
        <div class={{timelineIcon}} id="timeline-icon">
            <i class={{fileIcon}} id="file-icon"></i>
        </div>

        <div class="vertical-timeline-content">
            <h2>{{title}}</h2>
            <p>{{abstract}}</p>
            <a href="{{reportUrl fid}}" class="btn btn-sm btn-primary">详情</a>
            <a href="#" class="btn btn-sm btn-default" id="removeReport">移除</a>
        <span class="vertical-date">
            {{reportType}} <br/>
            <small>{{reportDate reportAt}}</small>
        </span>
        </div>
    </div>
</template>