<template name="reportUpload">
    <div id="reportUploadModal" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <span class="add-user-title">添加报告</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span
                            aria-hidden="false">&times;</span>
                    </button>
                </div>


                <div class="modal-body ">
                    <div id="dropzoneDiv" class="dropzone dz-clickable">
                        <div class="dz-default dz-message-one">
                            <span class="font-size-50 font-color-dark-gray">单击上传文件</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 m-t-sm m-b-sm">
                        <div class="row">
                            <div class="input-group physicals_date center-block">
                                <input type="text" class="form-control text-center line-style-input pull-left" id="title_report" placeholder="标题">
                                <input type="text" class="form-control text-center line-style-input pull-left" id="abstract_report" placeholder="摘要">
                                <!--这个input使用了datetimepicker插件-->
                                <span class="font-size-20 no-borders pull-left text-left">
                                        <i class="fa fa-calendar font-gray-lighter"></i>
                                </span>
                                <input type="text" class="form-control text-center line-style-input pull-left" id="date_report" placeholder="时间">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="add-user-btn btn btn-primary center-block ">提交</button>
                </div>

            </div>
        </div>
    </div>
</template>