<template name="industryAttack">
    	<div class="wrapper wrapper-content"> 
          <div id="content" class="row">
            <div class="col-lg-6">
              <div id="attacked_left">
                <div id="attack_img"> 
                    <img id="load_img" style="height:100%;width:100%" src="/img4.png"/> 
                </div>
                <div id="load_text"> 
                  <span style="width:200px;height:100px;display:block;float:left;margin-left:55px;"> 
                      <span style="margin-top:25px; display:block;">IP:
                                  <input type="text" name="ip" value="114.247.108.104" onfocus="this.select()" />
                     </span> 
                   <span style=" margin-top:15px; margin-left:30px; display:block">
                      <span>
                                  <input type="button" name="start" value="Start"/>
                      </span> 
                      <span style="margin-left:20px;">
                                  <input type="button" name="stop" value="Stop"/>
                      </span> 
                  </span> 
                </span>
             <span style="height:100px;display:block; float:right;">
                  <textarea name="result" rows="4"  cols="30" style="float:right;margin-top:1px;margin-right:1px; background-color:#EEE; color:#00E;" readonly="readonly">
                  </textarea>
            </span> 
        </div>
     </div>
  </div>
         <div class="col-lg-6">
            <div>
              <div id="attacked_right">  
                <h2 style="margin-top:10px;">漏洞挖掘成果</h2>
                  <div class="thumb kort concave"> 
                            <img src="/ct1.png" width="100%" height="100%"> 
                            <img src="/ct2.png" width="100%" height="100%"> 
                            <img src="/ct3.png" width="100%" height="100%">
                            <img src="/ct4.png" width="100%" height="100%"> 
                            <img src="/ct5.png" width="100%" height="100%">
                            <img src="/ct6.png" width="100%" height="100%"> 
                            <img src="/ct7.png" width="100%" height="100%">
                            <img src="/ct8.png" width="100%" height="100%">
                    </div>
                </div>
         </div>
    </div>
  </div>
</div>
</template>
