<template name="industryRealtime">
 
  
   <!--<div id="title_search_result" style="width:1203px; height:30px; line-height:30px; background-color:rgba(41, 87, 255, 1);color:#fff; border:1px solid black;">
      <ul class="navi_ul">
      </ul>
    </div>-->
    <div style="border:1px solid black;">
      <ul class="list">
        <li><img src="\1.jpg" width="320" height="200" /></li>
        <li><img src="\2.jpg" width="320" height="200"/></li>
        <li><img src="\3.jpg" width="320" height="200"/></li>
        </ul>
    </div>
    <div style="border:1px solid black;">
        <ul class="list">
        <li><img src="\4.jpg" width="320" height="200"/></li>
        <li><img src="\5.jpg" width="320" height="200"/></li>
        <li><img src="\6.jpg" width="320" height="200"/></li>
      </ul>
    </div>
    <!--<div class="monitor_preview">
      <div class="img-large"> <img src=""/> </div>
      <div class="close"></div>
    </div>-->

</template>
