<template name="industryRealtime">
 <div class="wrapper wrapper-content">
    <div id="content" class="row">
      <div class="col-lg-12">
        <ul class="content-nav">
          <li data-id="0">保密部门</li>
          <li data-id="1">公安部门</li>
          <li data-id="2">政府机关</li>
          <li data-id="3">水利设施</li>
          <li data-id="4">生产现场</li>
          <li data-id="5">道路交通</li>
          <li data-id="6">银行周边</li>
          <li data-id="7">大中院校</li>
          <li data-id="8">境外室内</li>
          <li data-id="9">境外街道</li>
        </ul>
      </div>
      
      <div class="col-lg-12">
        <div class="ibox" align = "center">
            <div class="ibox-content">
              <ul class="list" style = "list-type-style:none; margin:0px; padding:0px">
                <li><img class="my-thumb" src="/1.jpg" width="32%"/></li>
                <li><img class="my-thumb" src="/2.jpg" width="32%"/></li>
                <li><img class="my-thumb" src="/3.jpg" width="32%"/></li>
              </ul>
            </div>
            <div class="ibox-content">
              <ul class="list" style = "list-type-style:none; margin:0px; padding:0px">
                <li><img class="my-thumb" src="/4.jpg" width="32%"/></li>
                <li><img class="my-thumb" src="/5.jpg" width="32%"/></li>
                <li><img class="my-thumb" src="/6.jpg" width="32%"/></li>
              </ul>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</template>
