<template name="login">
    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">互联网基础数据展示系统</h2>

                <p><small>
                    建立一套运行机制：大数据建设是一项有序的、动态的、可持续发展的系统工程，必须建立良好的运行机制，以促进建设过程中各个环节的正规有序，实现统合，搞好顶层设计。
                </small></p>

                <p><small>
                    规范一套建设标准：没有标准就没有系统。应建立面向不同主题、覆盖各个领域、不断动态更新的大数据建设标准，为实现各级各类信息系统的网络互连、信息互通、资源共享奠定基础。
                </small></p>

                <p><small>
                    搭建一个共享平台：数据只有不断流动和充分共享，才有生命力。应在各专用数据库建设的基础上，通过数据集成，实现各级各类指挥信息系统的数据交换和数据共享。
                </small></p>

                <p><small>
                    培养一支专业队伍：大数据建设的每个环节都需要依靠专业人员完成，因此，必须培养和造就一支懂指挥、懂技术、懂管理的大数据建设专业队伍。
                </small></p>


            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="m-t" role="form" id="signIn">
                        <div class="form-group">
                            <input name="username" type="text" class="form-control" placeholder="用户名" required="">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" placeholder="密码" required="">
                        </div>
                        <div class="" id="logintip"> </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">登陆</button>

                    </form>
                    <p class="m-t">
                        <small>互联网基础数据展示系统 &copy; 2015</small>
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright CNCERT/CC
            </div>
            <div class="col-md-6 text-right">
                <small>© 2015-2016</small>
            </div>
        </div>
    </div>
</template>