<template name="topologyShow">

    {{> pageHeading title='拓扑展示' }}

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>树状关系网络</h5>
                    {{>iboxTools}}
                </div>
                <div class="ibox-content">
                    <div id="topologyChart-tree" class="topologychart"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>标准和弦图</h5>
                    {{>iboxTools}}
                </div>
                <div class="ibox-content">
                    <div id="topologyChart-tree1" class="topologychart"></div>
                </div>
            </div>
        </div>
    </div>
</template>