<template name="plc">
  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        {{> plcTotal }}
      </div>
    </div>
  </div>

  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-7">
        {{> plcChina title="PLC设备全国分布"}}
      </div>
      <div class="col-lg-5">
        {{> plcDevice title="PLC设备类型"}}
      </div>
    </div>
  </div> 

  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div> 
  
</template>