#content5 {
	width: 1205px;
	height: 600px;
	margin: 0 auto;
}
#attacked_left {
	width: 600px;
	height: 580px;
	float: left;	
}
#attacked_right {
	width: 560px;
	height: 572px;
	float: left;
	text-align:center;
	margin-left:5px;
	margin-top:5px;
	border:1px #CCC solid;
}
#attack_img {
	width: 570px;
	height: 470px;
	float: left;
	margin-left:15px;
	margin-top:5px;
	text-align:center;
	border:solid 1px #CCC
}
#load_text{
	width:570px;
	height:100px;
	border:solid 1px #CCC;
	margin-left:15px;
	float:left;
}
.list li{list-style-type:none;
           display:inline;
	}