<template name="webScanShow">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-lg-12">
            <h2 class="text-navy">
                主动扫描数据世界概况
            </h2>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                {{> webScanStatWorld}}
            </div>
        </div>
    </div>


    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-lg-12">
            <h2 class="text-navy">
                主动扫描数据中国概况
            </h2>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                {{> webScanStatChina}}
            </div>
        </div>
    </div>
</template>