<template name="webScanStatWorld">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">World</span>
                    <h5>分布地区数量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{webScanWorldCountry}}</h1>

                    <div class="stat-percent font-bold text-success">单位：个</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">World</span>
                    <h5>WEB服务器总量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{webScanWorldServer}}</h1>

                    <div class="stat-percent font-bold text-info">单位：个</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">World</span>
                    <h5>数量最多国家</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{webScanWorldCountryMax}}</h1>

                    <div class="stat-percent font-bold text-navy">单位</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">World</span>
                    <h5>数量最少国家</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{webScanWorldCountryMin}}</h1>

                    <div class="stat-percent font-bold text-danger">单位</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {{> webScanWorldStatTopN}}
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>WEB服务器世界分布</h5>
                    {{>iboxTools}}
                </div>

                <div class="ibox-content">
                    <div id="webScanWorldStatMap" class="ipstatmap"></div>
                </div>
            </div>
        </div>
        {{> webScanWorldStatDetail}}
    </div>

    <div class="row">
        <div class="col-lg-3">
            {{> webScanStatWorldProduct}}
        </div>
        <div class="col-lg-3">
            {{> webScanStatWorldDeviceType}}
        </div>
        <div class="col-lg-3">
            {{> webScanStatWorldOs}}
        </div>
        <div class="col-lg-3">
            {{> webScanStatWorldPort}}
        </div>
    </div>
</template>