<template name="webScanShow">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">World</span>
                        <h5>扫描国家总数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{webScanWorldCountry}}</h1>

                        <div class="stat-percent font-bold text-success">单位：个</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">World</span>
                        <h5>主动扫描总数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{webScanWorldServer}}</h1>

                        <div class="stat-percent font-bold text-info">单位：个</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">China</span>
                        <h5>中国已分配IP数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{chinaIPCount}}</h1>

                        <div class="stat-percent font-bold text-navy">单位：个</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">China</span>
                        <h5>中国已分配IP段</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{chinaIPSeg}}</h1>

                        <div class="stat-percent font-bold text-danger">单位：个</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{> webScanStatWorld}}
            </div>

            <div class="col-lg-12">
                {{> chinaIPStat}}
            </div>
        </div>
    </div>
</template>