<template name="chinaIPStatTopN">
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>中国IP数量 TOP10</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <div id="ipstattop10-china" class="ipstattop10"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>中国IP详情 TOP8</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <table class="table table-hover no-margins">
                    <thead>
                    <tr>
                        <th>地区</th>
                        <th>代码</th>
                        <th>IP段数</th>
                        <th>IP总量 (万)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each chinaIPTop8}}
                        <tr>
                            <td><small>{{label}}</small></td>
                            <td><small>{{code}}</small></td>
                            <td class="text-navy">{{ipseg}}</td>
                            <td class="text-navy">{{fixNumber ipcount}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>