<template name="staticShow">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">World</span>
                        <h5>IP地址世界分配总量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{worldIPCount}}</h1>

                        <div class="stat-percent font-bold text-success">单位：万个</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">China</span>
                        <h5>IP地址中国分配总量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{chinaIPCount}}</h1>

                        <div class="stat-percent font-bold text-info">单位：万个</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">World</span>
                        <h5>IP地址段世界分配数量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{worldIPSeg}}</h1>

                        <div class="stat-percent font-bold text-navy">单位：个</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">China</span>
                        <h5>IP地址段中国分配数量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{chinaIPSeg}}</h1>

                        <div class="stat-percent font-bold text-danger">单位：个</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{> worldIPStat}}
            </div>

            <div class="col-lg-12">
                {{> chinaIPStat}}
            </div>
        </div>
    </div>
</template>