<template name="worldIPStat">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>世界地图</h5>
                    {{>iboxTools}}
                </div>

                <div class="ibox-content">
                    <div id="jvectormap-world" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>统计图表1</h5>
                    {{>iboxTools}}
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas id="barChart" height="140"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>