<template name="worldIPStatTopN">
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>IP地址世界分布 TOP10</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <div id="ipstattop10-world" class="ipstattop10"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>IP地址世界分布详情</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <div class="full-height-scroll col-sm-12">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>地区</th>
                            <th>代码</th>
                            <th>IP段数</th>
                            <th>IP总量 (万)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each worldIPDetail}}
                            <tr>
                                <td><small>{{label}}</small></td>
                                <td><small>{{code}}</small></td>
                                <td class="text-navy">{{ipseg}}</td>
                                <td class="text-navy">{{fixNumber ipcount}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>