<template name="worldIPStat">
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>IP分配世界分布情况</h5>
                    {{>iboxTools}}
                </div>

                <div class="ibox-content">
                    <div id="ipstatmap-world" class="ipstatmap"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>国家IP数量TOP10</h5>
                    {{>iboxTools}}
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas id="barChart" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>