<template name="dynamicEventPortStat">
    <div class="statistic-box">
        <h4>
            Project Beta progress
        </h4>

        <p>
            You have two project with not compleated task.
        </p>

        <div class="row text-center">
            <div class="col-lg-6">
                <canvas id="polarChart" width="80" height="80"></canvas>
                <h5>Kolter</h5>
            </div>
            <div class="col-lg-6">
                <canvas id="doughnutChart" width="78" height="78"></canvas>
                <h5>Maxtor</h5>
            </div>
        </div>
        <div class="m-t">
            <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
        </div>

    </div>
</template>