<template name="dynamicShow">
    <div class="row  border-bottom white-bg dashboard-header">

        <div class="col-sm-3">
            <h2>动态事件统计</h2>
            <small class="text-navy">事件总量：{{ipEventCount}}，源IP TOP5：</small>
            {{> dynamicEventIPSrcStat}}
        </div>
        <div class="col-sm-6">
            {{> dynamicEventTimeStat}}
        </div>
        <div class="col-sm-3">
            {{> dynamicEventPortStat}}
        </div>

    </div>
    {{> dynamicEvents}}
</template>