<template name="dynamicShow">
    <div class="row  border-bottom white-bg dashboard-header">

        <div class="col-sm-3">
            <h2>动态事件统计</h2>
            <small class="text-navy">事件总量：{{ipEventCount}}</small>
            {{> notificationListNew notifications}}
        </div>
        <div class="col-sm-6">
            {{> dynamicEventTimeStat}}
        </div>
        <div class="col-sm-3">
            {{> dynamicEventPortStat}}
        </div>

    </div>
    {{> dynamicEvents}}
</template>

<template name="notificationListNew">
    <ul class="list-group clear-list m-t">
        {{#each this}}
            {{>notificationElementNew}}
        {{/each}}
    </ul>
</template>

<template name="notificationElementNew">
    <li class="list-group-item">
        <span class="pull-right">
            {{time}}
        </span>
        <span class="label label-{{labelClass}}">{{number}}</span> {{content}}
    </li>
</template>