<template name="basicProfile">

    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-lg-12">
            <h2>
                IP基础数据: <span class="text-navy">“目前拥有 {{updateIPAddrCount}}+ 地址段”</span>
            </h2>
            <small>基于网络大数据分析的IP属性库</small>

            <div class="search-form">
                <div class="input-group">
                    <input type="text" id="searchIP" placeholder="请输入IP地址，如：8.8.8.8" class="form-control input-lg">
                    <div class="input-group-btn">
                        <button class="btn btn-lg btn-primary" type="submit">
                            搜索
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>地理位置定位</h5>
                        <div class="ibox-tools">
                            <span class="label label-warning-light">世界地图</span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="dmap" class="leaflet-map"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        地理位置
                    </div>
                    <div class="panel-body">
                        <p>国家：{{ipAddr.addr.country}}</p>
                        <p>省份：{{ipAddr.addr.province}}</p>
                        <p>城市：{{ipAddr.addr.city}}</p>
                        <p>区县：{{ipAddr.addr.district}}</p>
                        <p>街道：{{ipAddr.addr.street}}</p>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        网络接入
                    </div>
                    <div class="panel-body">
                        <p>运营商：{{ipAddr.operator}}</p>
                        <p>BGP号：</p>
                        <p>AS域：</p>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        备案信息
                    </div>
                    <div class="panel-body">
                        <p>IP备案：</p>
                        <p>ICP备案：</p>
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        重要事件
                    </div>
                    <div class="panel-body">
                        <p>网安事件：</p>
                        <p>攻击事件：</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>