<template name="BaxxGeoContainer">
  <div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>{{title}}</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    {{#if table}}
                        <div class="col-md-4">
                            {{> BaxxGeoBar}}
                        </div>
                        <div class="col-md-5">
                            {{> BaxxGeoMap}}
                        </div>
                        <div class="col-md-3" style="overflow-y:scroll">
                            {{> InfoTable}}
                        </div>
                    {{else}}
                        <div class="col-md-6">
                            {{> BaxxGeoMap}}
                        </div>
                        <div class="col-md-6">
                            {{> BaxxGeoBar}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
