<template name="BaxxChart">
  <div class="row">
    {{#if pieRight}}
      <div class="col-lg-5">
        <div class="ibox">
          <div class="ibox-title">
            {{title}}
            {{> configTools}}
          </div>
          <div class="ibox-content">
            {{> configBox limit=true date=true}}
            <div id="chart-column-{{context}}{{attr}}" class="chart"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="ibox">
          <div class="ibox-title">
            {{title}}
            {{> configTools}}
          </div>
          <div class="ibox-content">
            {{> configBox limit=true date=true}}
            <div id="chart-pie-{{context}}{{attr}}" class="chart"></div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-lg-7">
        <div class="ibox">
          <div class="ibox-title">
            {{title}}
            {{> configTools}}
          </div>
          <div class="ibox-content">
            {{> configBox limit=true}}
            <div id="chart-pie-{{context}}{{attr}}" class="chart"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="ibox">
          <div class="ibox-title">
            {{title}}
            {{> configTools}}
          </div>
          <div class="ibox-content">
            {{> configBox limit=true}}
            <div id="chart-column-{{context}}{{attr}}" class="chart"></div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>

</template>
