<template name="icpAnalysis">
  <div class="wrapper wrapper-content">
    {{> totalNum}}
    
    {{> Introduction text='主体备案情况说明'}}
    {{> BaxxGeoContainer context='zt' title='主体备案全国分布'}}
    {{> ZtOther}}
    
    {{> Introduction text='网站备案情况说明'}}
    {{> BaxxGeoContainer context='wz' title='网站备案全国分布' table=true  direction='horizontal'}}
    {{> WzOther }}
    
    {{> Introduction text='域名备案情况说明'}}
    {{> BaxxGeoContainer context='ymlb' title='域名备案全国分布' table=true direction='horizontal'}}
    {{> YmOther }}

  </div>
</template>
