<template name="totalNum">
  <div class="row">
    {{> total title='主体备案数量' value=major}}
    {{> total title='网站备案数量' value=website}}
    {{> total title='域名备案数量' value=domain}}
  </div>
</template>

<template name="total">
  <div class="col-md-4">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <span class="label label-info pull-right">Total</span>
              <h5>{{title}}</h5>
          </div>
          <div class="ibox-content">
              <h1 class="no-margins">{{value}}</h1>
          </div>
      </div>
  </div>
</template>
