<template name="hotMoving">
    <div class="wrapper wrapper-content">
        <div id="content" class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title" align = "center">
                        <h2>政治热点全国迁徙路径展示</h2>
                    </div>
                    <div class="ibox-content">
                        <div id="mapHotMoving" class="chart-industry"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>