<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src={{userAvatar}} />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{userName}}</strong>
                             </span> <span class="text-muted text-xs block"> {{userRole}} <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{pathFor route='profile'}}">详细信息</a></li>
                            <li><a href="{{pathFor route='contacts'}}">通讯列表</a></li>
                            <li><a href="{{pathFor route='mailbox'}}">电子邮箱</a></li>
                            <li class="divider"></li>
                            <li><a href="{{pathFor route='logout'}}">退出系统</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>

                <li class="{{isActiveRoute regex='staticShow'}}">
                    <a href="{{pathFor route='staticShow'}}"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">统计分析</span> </a>
                </li>
                <li class="{{isActiveRoute regex='industryTrend'}}">
                    <a href="{{pathFor route='industryTrend'}}"><i class="fa fa-th-large"></i> <span class="nav-label">行业态势</span> </a>
                </li>
                <li class="{{isActiveRoute regex='dynamicShow'}}">
                    <a href="{{pathFor route='dynamicShow'}}"><i class="fa fa-globe"></i> <span class="nav-label">动态事件</span> </a>
                </li>
                <li class="{{isActiveRoute regex='topologyShow'}}">
                    <a href="{{pathFor route='topologyShow'}}"><i class="fa fa-dashboard"></i> <span class="nav-label">拓扑展示</span> </a>
                </li>

                <!--
                <li class="{{isActiveRoute regex='searchResult|invoice|emptyPage'}}">
                    <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level {{isActiveRoute regex='searchResult|invoice|emptyPage' className='in'}}">
                        <li class="{{isActiveRoute regex='searchResult'}}"><a href="{{pathFor route='searchResult'}}">Search results</a></li>
                        <li><a href="{{pathFor route='lockScreen'}}">Lockscreen</a></li>
                        <li class="{{isActiveRoute regex='invoice'}}"><a href="{{pathFor route='invoice'}}">Invoice</a></li>
                        <li><a href="{{pathFor route='login'}}">Login v.2</a></li>
                        <li><a href="{{pathFor route='forgotPassword'}}">Forgot password</a></li>
                        <li><a href="{{pathFor route='register'}}">Register</a></li>
                        <li><a href="{{pathFor route='errorOne'}}">404 Page</a></li>
                        <li><a href="{{pathFor route='errorTwo'}}">500 Page</a></li>
                        <li class="{{isActiveRoute regex='emptyPage'}}"><a href="{{pathFor route='emptyPage'}}">Empty page</a></li>
                    </ul>
                </li>
                -->

                {{#if isAdmin}}
                    <li class="special_link">
                        <a href="{{pathFor route='register'}}"><i class="fa fa-database"></i> <span class="nav-label">注册用户</span></a>
                    </li>
                {{/if}}
            </ul>

        </div>
    </nav>
</template>