<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src={{userAvatar}} />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{userName}}</strong>
                             </span> <span class="text-muted text-xs block"> {{userRole}} <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{pathFor route='logout'}}">退出系统</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>

				{{#if isIndustry}}
	                <li class="{{isActiveRoute regex='industry'}}">
        	            <a href="#"><i class="fa fa-image"></i> <span class="nav-label">联网安防设备</span> <span class="fa arrow"></span></a>
                	    <ul class="nav nav-second-level {{isActiveRoute regex='industry' className='in'}}">
                        	<li class="{{isActiveRoute regex='introduction'}}">
	                            <a href="{{pathFor route='industry.introduction'}}"><i class="fa fa-industry"></i> <span class="nav-label">系统介绍</span></a>
        	                </li>

                	        <li class="{{isActiveRoute regex='result'}}">
                        	    <a href="{{pathFor route='industry.result'}}"><i class="fa fa-bar-chart"></i> <span class="nav-label">结果统计</span> </a>
	                        </li>
        	                <li class="{{isActiveRoute regex='globe'}}">
                	            <a href="{{pathFor route='industry.globe'}}"><i class="fa fa-globe"></i> <span class="nav-label">全球态势</span> </a>
	               		</li>
	                        <li class="{{isActiveRoute regex='china'}}">
        	                    <a href="{{pathFor route='industry.china'}}"><i class="fa fa-map"></i> <span class="nav-label">全国态势</span> </a>
                	        </li>
                       		<li class="{{isActiveRoute regex='realtime'}}">
	                            <a href="{{pathFor route='industry.realtime'}}"><i class="fa fa-photo"></i> <span class="nav-label">实时画面</span> </a>
        	                </li>
                	        <li class="{{isActiveRoute regex='attack'}}">
                        	    <a href="{{pathFor route='industry.attack'}}"><i class="fa fa-bug"></i> <span class="nav-label">漏洞渗透</span> </a>
	                        </li>

        	                <!--<li class="{{isActiveRoute regex='monitor'}}">
                		    <a href="{{pathFor route='industry.monitor'}}"><i class="fa fa-anchor"></i> <span class="nav-label">监控预警 </span> </a>
		                </li> -->

	                    </ul>
        	        </li>
				{{/if}}
				
				{{#unless isAdmin}}
					<li class="{{isActiveRoute regex='webScanShow'}}">
						<a href="{{pathFor route='webScanShow'}}"><i class="fa fa-desktop"></i> <span class="nav-label">全球WEB服务器</span> </a>
					</li>						

					<li class="{{isActiveRoute regex='icpAnalysis'}}">
						<a href="{{pathFor route='icpAnalysis'}}"><i class="fa fa-th-large"></i> <span class="nav-label">全国网站备案库</span> </a>
					</li>
				{{/unless}}	

				{{#if isIndustry}}
					<li class="{{isActiveRoute regex='plc'}}">
						<a href="{{pathFor route='plc'}}"><i class="fa fa-gears"></i> <span class="nav-label">联网工控设备</span> </a>
					</li>				

					<li class="{{isActiveRoute regex='dynamicShow'}}">
						<a href="{{pathFor route='dynamicShow'}}"><i class="fa fa-globe"></i> <span class="nav-label">工控安全事件</span> </a>
					</li>
				{{/if}}

				{{#unless isAdmin}}
					<li class="{{isActiveRoute regex='basicProfile|staticShow'}}">
						<a href="#"><i class="fa fa-compass"></i> <span class="nav-label">全球IP定位库</span> <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level {{isActiveRoute regex='basicProfile|staticShow' className='in'}}">
							<li class="{{isActiveRoute regex='basicProfile'}}"><a href="{{pathFor route='basicProfile'}}"><i class="fa fa-image"></i> <span class="nav-label">IP画像</span> </a></li>
							<li class="{{isActiveRoute regex='staticShow'}}"><a href="{{pathFor route='staticShow'}}"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">统计分析</span> </a></li>
						</ul>
					</li>
				{{/unless}}	

                {{#if isAnalyst}}
					<li class="{{isActiveRoute regex='hot'}}">
						<a href="#"><i class="fa fa-image"></i> <span class="nav-label">政治热点</span> <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level {{isActiveRoute regex='hot' className='in'}}">
						   <li class="{{isActiveRoute regex='scatter'}}">
							<a href="{{pathFor route='hot.scatter'}}"><i class="fa fa-industry"></i> <span class="nav-label">热点分布</span></a>  
						  </li>

						  <li class="{{isActiveRoute regex='moving'}}">
							<a href="{{pathFor route='hot.moving'}}"><i class="fa fa-globe"></i> <span class="nav-label">全国迁徙</span> </a>
						  </li>
						</ul>
					</li>
				{{/if}}
                
				{{#unless isAdmin}}
					<!--<li class="{{isActiveRoute regex='topologyShow'}}">
						<a href="{{pathFor route='topologyShow'}}"><i class="fa fa-sitemap"></i> <span class="nav-label">拓扑展示</span> </a>
					</li>-->				
				
					<li class="{{isActiveRoute regex='reportShow'}}">
						<a href="{{pathFor route='reportShow'}}"><i class="fa fa-files-o"></i> <span class="nav-label">分析报告</span> </a>
					</li>

					<!--
					<li class="{{isActiveRoute regex='homePage'}}">
						<a href="{{pathFor route='homePage'}}"><i class="fa fa-home"></i> <span class="nav-label">系统介绍</span> </a>
					</li>
					-->

					<!--
					<li class="{{isActiveRoute regex='searchResult|invoice|emptyPage'}}">
						<a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>
						<ul class="nav nav-second-level {{isActiveRoute regex='searchResult|invoice|emptyPage' className='in'}}">
							<li class="{{isActiveRoute regex='searchResult'}}"><a href="{{pathFor route='searchResult'}}">Search results</a></li>
							<li><a href="{{pathFor route='lockScreen'}}">Lockscreen</a></li>
							<li class="{{isActiveRoute regex='invoice'}}"><a href="{{pathFor route='invoice'}}">Invoice</a></li>
							<li><a href="{{pathFor route='login'}}">Login v.2</a></li>
							<li><a href="{{pathFor route='forgotPassword'}}">Forgot password</a></li>
							<li><a href="{{pathFor route='register'}}">Register</a></li>
							<li><a href="{{pathFor route='errorOne'}}">404 Page</a></li>
							<li><a href="{{pathFor route='errorTwo'}}">500 Page</a></li>
							<li class="{{isActiveRoute regex='emptyPage'}}"><a href="{{pathFor route='emptyPage'}}">Empty page</a></li>
						</ul>
					</li>
					-->					
				{{/unless}}

                {{#if isAdmin}}
                    <li class="special_link">
                        <a href="{{pathFor route='accounts'}}"><i class="fa fa-database"></i> <span class="nav-label">后台管理</span></a>
                    </li>
                {{/if}}
            </ul>

        </div>
    </nav>
</template>
